#page-container {
  margin: auto;
}
.container {
  margin: 10px;
  float:left;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 3px;
  width: 25%;
}
.header {
  color: #ff8c16;
  text-align: center;
}
